---
layout: layout/post.njk

title: "MON de la promo 2022-2023"
tags: ['index']
---

{% set promo = "2022-2023" %}

<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Par auteurs
    </div>
    <ul>
        {% set types = [promo] %}
        {% set types = (types.push('MON'), types) %}

        {% for cours in collections.index | sort | reverse %}
            {% set c = 0 %}
            {% for tag in cours.data.tags %}
                {% for type in types %}
                    {% if tag == type %}
                        {% set c = c + 1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if c == types.length %}
                <li>
                    <a href="{{ cours.url  }}">{{cours.data.authors}}</a>
                </li>

            {% endif %}
        {% endfor %}
    </ul>
</div>

{% for temps in [1, 2, 3] %}
<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Temps {{ temps }}
    </div>
    <ul>
        {% set types = [promo] %}
        {% set types = (types.push('temps ' + temps), types) %}
        
        {% for order in [1, 2] %}

        <li>{{ temps }}.{{ order }}
            <ul>
                {% for cours in collections.MON | sort | reverse %}
                    {% set c = 0 %}
                    {% for tag in cours.data.tags %}
                        {% for type in types %}
                            {% if tag == type %}
                                {% set c = c + 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if cours.data.order == order and c == types.length %}
                        <li>
                            <a href="{{ cours.url  }}">{{cours.data.title}}</a> ({{cours.data.authors}})
                        </li>

                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
