---
layout: layout/post.njk
title: "Monitoring of Novelties (MON)"
tags: ['index']

eleventyNavigation:
  key: "Monitoring of Novelties (MON)"
  parent: home
  order: 3
---

<p>
<!-- début résumé -->

Auto-formation.

<!-- fin résumé -->
</p>
