---
layout: layout/post.njk

title: "MON"
tags: ['index']

order: 2
resume: 'Monitoring of Novelties - Apprentissage en autonomie tutorée'
---

<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Par Promos
    </div>

    {% from 'macros/promo-list.njk' import promoList %}
    {{ promoList(collections.promos) }}
</div>

<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Par auteurs
    </div>

    {% from 'macros/student-list.njk' import studentList %}
    {{ studentList(collections.index, "MON") }}
</div>
