---
layout: layout/post.njk

title: "CS"
tags: ["index"]

order: 1
resume: "Cours de Spécialités"
---


<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Cours de Spécialité
    </div>

    <p>Do_<span style="color: #4a86e8">It</span> est organisé en 3 axes :</p>

    <ul>
        <li>Info : <span class="bg-green-100 rounded-full p-1.5">Développement / Informatique</span></li>
        <li>Mgt : <span class="bg-blue-100 rounded-full p-1.5">Systèmes d’information (SI) / Management</span></li>
        <li>GP : <span class="bg-pink-100 rounded-full p-1.5">Modélisation / Gestion de projet</span></li>
    </ul>

    <p>
        Ceux-ci adressent une vaste gamme de projets professionnels de l’IT et peuvent s’insérer dans la quasi-totalité des entreprises ou organisations et plusieurs domaines de connaissance.
    </p>
    <p>
        Ces trois axes ont de fortes connexions entre eux, comme le présente le diagramme de Venn suivant :
    </p>
    <img src="./venn%20do-it.svg" alt="CS Do_It">
    <p>
        Chaque cours est porté par un axe, mais beaucoup de cours sont à cheval entre plusieurs axes.
    </p>
</div>

{% info %}
    Tous les cours ont le même volume horaire de 12h. Une description plus détaillée de ceux-ce est disponible <a target="_blank"
        href="https://docs.google.com/document/d/1vG-X6vw1prQxzbqPMnmR0LZqkHbx1GCLlFGzTe44PSE/">dans la plaquette</a>.
{% endinfo %}

<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Année 2023-2024
    </div>
    <p>
        Pour l'année scolaire
        <a href="/promo/2023-2024" class="w-full underline decoration-2 bg-purple-200 rounded-full decoration-purple-500 p-2 group-hover:decoration-purple-700 group-hover:text-purple-700">
            2023-2024
        </a>
        , la liste des cours par temps est ci-après. Chaque élève doit suivre 5 cours par temps.
    </p>

    <div class="text-xl mb-3">Temps 1</div>
    <ul>
        <li class="">Introduction des axes (tronc commun)</li>
        <li class="">Gestion des sources avec Git et GitHub (tronc commun)</li>
        <li class="">Gestion de Projets Agile (tronc commun)</li>
        <li class="">Méthodologie POK&MON (tronc commun)</li>
        <li class="">Expression et analyse des besoins client (tronc commun)</li>
        <li class="">Organiser ses projets de façon agile (tronc commun)</li>
        <li class="text-blue-700">Définition et fonctions d’un SI (Mgt)</li>
        <li class="text-blue-700">Écosystème digital (Mgt)</li>
        <li class="text-blue-700">Numérique & Travail (Mgt)</li>
        <li class="text-green-700">Low Code (Info)</li>
        <li class="text-green-700">OPS / Unix (Info)</li>
        <li class="text-pink-700">Service Design (GP)</li>
        <li class="text-pink-700">UX design & expérience client (GP)</li>
        <li class="text-pink-700">Principes théoriques de la Gestion de Projet (GP)</li>
    </ul>

    <div class="text-xl mb-3">Temps 2</div>

    <ul>
        <li class="text-blue-700">Stratégie d'entreprise et SI (Mgt)</li>
        <li class="text-blue-700">Architecture et gouvernance des SI (Mgt)</li>
        <li class="text-blue-700">Conception des SI (recueil de besoin, audit organisationnel, business process modeling…) (Mgt)</li>
        <li class="text-green-700">Bonnes pratiques (Info)</li>
        <li class="text-green-700">Programmation par les tests (Info)</li>
        <li class="text-green-700">Structuration d’un projet informatique (Info)</li>
        <li class="text-green-700">Développement Web: from 0 to hero (Info)</li>
        <li class="text-green-700">Java / gradle (Info)</li>
        <li class="text-pink-700">UI - parcours utilisateur (GP)</li>
        <li class="text-pink-700">Lean engineering (GP)</li>
        <li class="text-pink-700">Équipe performante (GP)</li>
    </ul>

    <div class="text-xl mb-3">Temps 3</div>
    <ul>
        <li class="text-blue-700">IT et dynamique des organisations / change management (Mgt)</li>
        <li class="text-blue-700">Monitoring (Mgt)</li>
        <li class="text-blue-700">Cybersécurité & management des risques (Mgt)</li>
        <li class="text-green-700">Structure de données (Info)</li>
        <li class="text-green-700">Aws/docker (Info)</li>
        <li class="text-green-700">Réseaux (Info)</li>
        <li class="text-pink-700">Project management Office, Gestion de Projet avancée (GP)</li>
        <li class="text-pink-700">UI avancée : théorie et testing (GP)</li>
        <li class="text-pink-700">Analyse comportementale (GP)</li>
    </ul>

</div>

## Contribuer au site

- [Markdown pour le site](./contribuer-au-site)
