<!DOCTYPE html> 
<html lang="fr"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Blog do-it</title> 

  <link href={{ "/assets/node_modules/prismjs/themes/prism-solarizedlight.min.css" | url }} rel="stylesheet">
  <link href={{ "/assets/node_modules/prismjs/plugins/line-numbers/prism-line-numbers.min.css" | url }} rel="stylesheet">
  
</head> 
<body> 
  <header>
    Site Header
    <a href="{{ '/About' | url }}">About</a>
  </header> 
  <main> 
    {{ content | safe }}
  </main> 
  <footer>Site Footer</footer> 

</body> 
</html>
