<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blog do-it</title> 

  <link href={{ "/assets/node_modules/prismjs/themes/prism-solarizedlight.min.css" | url }} rel="stylesheet">
  <link href={{ "/assets/node_modules/prismjs/plugins/line-numbers/prism-line-numbers.min.css" | url }} rel="stylesheet">
  
  <link rel="stylesheet" href={{ "/assets/main.css" | url }}>
  <link rel="stylesheet" href={{ "/assets/custom.css" | url }}>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head> 