---
layout: layout/post.njk

title: "2023-2024"
annee: "2023"
tags: ['promo']

resume: 'Promotion 2023-2024'

eleventyNavigation:
  key: 2023-2024
  order: 2
  parent: Promotions
---

{% for eleve in collections.promo2023_2024 %}
    <div class="my-3 px-2 p-1 border-solid border-2 rounded">
        <div class="text-3xl mb-3">
            <a href="{{ eleve.url | url }}">{{ eleve.data.title }}</a>
        </div>
    </div>
{% endfor%}