.mediaViewInfo {
	--web-view-name: newIndex;
	--web-view-id: newIndex;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: newIndex;
	transform: scale(0.8);
	background-color: rgba(247,247,247,1);;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

#newIndex {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: newIndex;
	--web-view-id: newIndex;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#leftPannel {
	position: absolute;
	width: 1219.9px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#visibleBoxes {
	position: absolute;
	width: 935.203px;
	height: 935.203px;
	left: 124.859px;
	top: 72.419px;
	overflow: visible;
}
#centerBox {
	fill: rgba(247,247,247,1);
}
.centerBox {
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 280px;
	left: 327.111px;
	top: 327.11px;
}
#rightBox {
	fill: rgba(176,182,186,0.102);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 15;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.rightBox {
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 280px;
	left: 655.203px;
	top: 327.11px;
	cursor:  pointer;
}
#bottomRightBox {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 15;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bottomRightBox {
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 280px;
	left: 655.203px;
	top: 655.203px;
}
#bottomLeftBox {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 15;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bottomLeftBox {
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 280px;
	left: 0px;
	top: 655.203px;
}
#topLeftBox {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 15;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.topLeftBox {
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 280px;
	left: 0px;
	top: 0px;
}
#topRightBox {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 15;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.topRightBox {
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 280px;
	left: 655.203px;
	top: 0px;
}
#topBox {
	fill: rgba(176,182,186,0.102);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 15;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.topBox {
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 280px;
	left: 327.111px;
	top: 0px;
	cursor:  pointer;
}
#bottomBox {
	fill: rgba(176,182,186,0.102);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 15;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bottomBox {
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 280px;
	left: 327.111px;
	top: 655.203px;
	cursor:  pointer;
}
#leftBox {
	fill: rgba(228,228,228,1);
}
.leftBox {
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 280px;
	left: 0px;
	top: 327.11px;
	cursor:  pointer;
}
#boxTransparence_u {
	fill: url(#boxTransparence_u);
}
.boxTransparence_u {
	overflow: visible;
	position: absolute;
	width: 1080px;
	height: 1219.9px;
	transform: translate(0px, 0px) matrix(1,0,0,1,69.9502,-69.9502) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Arrows {
	position: absolute;
	width: 1065.558px;
	height: 893.386px;
	left: 59.682px;
	top: 94.026px;
	overflow: visible;
}
#leftArrow {
	fill: rgba(110,110,110,1);
}
.leftArrow {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 183.956px;
	height: 183.956px;
	left: 0px;
	top: 363.435px;
	transform: matrix(1,0,0,1,0,0);
	cursor:  pointer;
}
#rightArrow {
	fill: rgba(110,110,110,1);
}
.rightArrow {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 165.956px;
	height: 165.956px;
	transform: translate(0px, 0px) matrix(1,0,0,1,899.602,363.4348) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	cursor:  pointer;
}
#bottomArrow {
	fill: rgba(110,110,110,1);
}
.bottomArrow {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 165.956px;
	height: 165.956px;
	transform: translate(0px, 0px) matrix(1,0,0,1,449.7815,727.4305) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	cursor:  pointer;
}
#topArrow {
	fill: rgba(110,110,110,1);
}
.topArrow {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 165.956px;
	height: 165.956px;
	transform: translate(0px, 0px) matrix(1,0,0,1,449.7815,0.0001) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	cursor:  pointer;
}
#mainBall {
	position: absolute;
	width: 188px;
	height: 188px;
	left: 497px;
	top: 447px;
	display: none;
	overflow: visible;
}
#Ellipse_3 {
	fill: rgba(249,118,0,1);
}
.Ellipse_3 {
	filter: drop-shadow(5px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 207px;
	left: 0px;
	top: 0px;
}
#Intersection_1 {
	fill: rgba(255,150,0,1);
}
.Intersection_1 {
	overflow: visible;
	position: absolute;
	width: 129.618px;
	height: 156.477px;
	left: 58.382px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#rightPannel {
	position: absolute;
	width: 800px;
	height: 1080px;
	left: 1121px;
	top: 0px;
	overflow: visible;
}
#leftPannelBackground {
	fill: rgba(247,247,247,1);
}
.leftPannelBackground {
	position: absolute;
	overflow: visible;
	width: 714px;
	height: 1080px;
	left: 86px;
	top: 0px;
}
#miniMap {
	position: absolute;
	width: 477.476px;
	height: 477.476px;
	left: 249.524px;
	top: 540px;
	overflow: visible;
	filter:  drop-shadow(5px 10px 6px rgba(0, 0, 0, 0.161));
}
#mapBackground {
	fill: rgba(209,203,203,1);
}
.mapBackground {
	overflow: visible;
	position: absolute;
	width: 477.476px;
	height: 477.476px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#miniBall {
	opacity: 0.452;
	position: absolute;
	width: 56.7px;
	height: 56.7px;
	left: 209.994px;
	top: 210.388px;
	display: none;
	overflow: visible;
}
#Ellipse_3_ {
	fill: rgba(249,118,0,1);
}
.Ellipse_3_ {
	position: absolute;
	overflow: visible;
	width: 56.7px;
	height: 56.7px;
	left: 0px;
	top: 0px;
}
#Intersection_1_ {
	fill: rgba(255,150,0,1);
}
.Intersection_1_ {
	overflow: visible;
	position: absolute;
	width: 39.07px;
	height: 47.166px;
	left: 17.598px;
	top: 0.211px;
	transform: matrix(1,0,0,1,0,0);
}
#rightPannelInfo {
	position: absolute;
	width: 709px;
	height: 228.788px;
	left: 0px;
	top: 191.203px;
	overflow: visible;
}
#keyIcon {
	position: absolute;
	width: 63.332px;
	height: 60.164px;
	left: 364.5px;
	top: 167.624px;
	overflow: visible;
}
#Icon_feather-key {
	fill: transparent;
	stroke: rgba(177,182,186,1);
	stroke-width: 6px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-dasharray: 10;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_feather-key {
	overflow: visible;
	position: absolute;
	width: 69.332px;
	height: 67.407px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#lifeBar {
	position: absolute;
	width: 228.994px;
	height: 60.164px;
	left: 464.006px;
	top: 168.624px;
	overflow: visible;
}
#heart1 {
	fill: rgba(220,53,69,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.heart1 {
	overflow: visible;
	position: absolute;
	width: 69.804px;
	height: 65.937px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#heart2 {
	fill: rgba(220,53,69,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.heart2 {
	overflow: visible;
	position: absolute;
	width: 69.804px;
	height: 65.937px;
	left: 82.595px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#heart3 {
	fill: rgba(220,53,69,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.heart3 {
	overflow: visible;
	position: absolute;
	width: 69.804px;
	height: 65.937px;
	left: 165.19px;
	top: 1.268px;
	transform: matrix(1,0,0,1,0,0);
}
#mainMessageText {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 710px;
	height: 153.49755859375px;
	text-align: right;
	font-family: 'Barlow', sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 120px;
	color: rgba(52,58,64,1);
}
#startElements {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
	#startElements {
		position: absolute;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 0px;
		overflow: visible;
}
@keyframes start {
	0% {
	  opacity: 1;
	  transform: translateX(0);
	}
  
	100% {
	  opacity: 0;
	  transform: translateX(250px);
	  visibility: hidden;
	}
  }
	#transparentStartFont {
		fill: rgba(255,255,255,0.949);
	}
	.transparentStartFont {
		overflow: visible;
		position: absolute;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#startWindow {
		position: absolute;
		width: 1200px;
		height: 430.489px;
		left: 360px;
		top: 324.755px;
		overflow: visible;
	}
	#startRectangle {
		fill: rgba(248,249,250,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.startRectangle {
		filter: drop-shadow(-10px 10px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 1107px;
		height: 449.489px;
		left: 56px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#playButton {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		position: absolute;
		width: 156px;
		height: 48px;
		left: 522px;
		top: 258.489px;
		overflow: visible;
	}
	#playButton {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		position: absolute;
		width: 156px;
		height: 48px;
		left: 522px;
		top: 258.489px;
		overflow: visible;
	}

	#Play {
		left: 59px;
		top: 10px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		text-align: left;
		font-family: 'Barlow', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#startTitle {
		left: 0px;
		top: 102.489px;
		position: absolute;
		overflow: visible;
		width: 1201px;
		height: 113px;
		line-height: 115px;
		margin-top: -9.5px;
		text-align: center;
		font-family: 'Barlow', sans-serif;
		font-style: normal;
		font-weight: lighter;
		font-size: 96px;
		color: rgba(52,58,64,1);
	}
#transparentStartFont {
	fill: rgba(255,255,255,0.949);
}
.transparentStartFont {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#startWindow {
	position: absolute;
	width: 1200px;
	height: 430.489px;
	left: 360px;
	top: 324.755px;
	overflow: visible;
}
#startRectangle {
	fill: rgba(248,249,250,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.startRectangle {
	filter: drop-shadow(-10px 10px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1107px;
	height: 449.489px;
	left: 56px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#playButton {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 156px;
	height: 48px;
	left: 522px;
	top: 258.489px;
	overflow: visible;
}
#playButton {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 156px;
	height: 48px;
	left: 522px;
	top: 258.489px;
    font-family: 'Barlow', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	overflow: visible;
}

#Play {
	left: 59px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Barlow', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#startTitle {
	left: 0px;
	top: 102.489px;
	position: absolute;
	overflow: visible;
	width: 1201px;
	height: 113px;
	line-height: 115px;
	margin-top: -9.5px;
	text-align: center;
	font-family: 'Barlow', sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 96px;
	color: rgba(52,58,64,1);
}