---
layout: layout/post.njk

title: "POK de la promo 2023-2024"
tags: ['index']
---

{% set promo = "2023-2024" %}

<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Par auteurs
    </div>

    {% from 'macros/student-list.njk' import studentList %}
    {{ studentList(collections.index, "POK", promo) }}
</div>

{% for temps in[1, 2, 3] %}
    <div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
        <div class="text-3xl mb-3">
        Temps {{ temps }}
        </div>
        <ul class="grid md:grid-cols-2 not-prose list-none my-1 mx-0 px-1 gap-1">
            {% set types = [promo] %}
            {% set types = (types.push('temps ' + temps), types) %}

            {% for cours in collections.POK | sort %}
                {% set c = 0 %}
                {% for tag in cours.data.tags %}
                    {% for type in types %}
                        {% if tag == type %}
                            {% set c = c + 1 %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% if c == types.length %}
                    <li class="m-3 p-3 border-solid border-2 rounded relative flex flex-col">
                        <div class="text-xl mb-3">
                            <a href="{{ cours.url  }}">{{cours.data.title}}</a>
                        </div>
                        {% if cours.data.résumé %}
                            <span class="h-full">{{ cours.data.résumé }}</span>
                        {% else %}
                            <span class="h-full"><i>MON de temps {{ temps }}.</i></span>
                        {% endif %}
                        <div class="flex flex-wrap flex-row justify-between items-end not-prose list-none mt-3 mb-1 mx-0 px-1 gap-1">
                            <span class="bg-blue-200 rounded-full px-2">{{cours.data.authors}}</span>
                            <span class="bg-purple-200 rounded-full px-2">{{ cours.data.date | dateFormat("dd/MM/yyyy") }}</span>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endfor %}