---
layout: layout/post.njk

title: "POK de la promo 2023-2024"
tags: ['index']
---

{% set promo = "2023-2024" %}

<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Par auteurs
    </div>

    {% from 'macros/student-list.njk' import studentList %}
    {{ studentList(collections.index, "POK", promo) }}
</div>

{% for temps in[1, 2, 3] %}
    <div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
        <div class="text-3xl mb-3">
        Temps {{ temps }}
        </div>

        {% from 'macros/pok-mon-list.njk' import listPokMon %}
        {{ listPokMon(collections.POK, "POK", promo, temps) }}
    </div>
{% endfor %}