---
layout: layout/post.njk

title: "POK de la promo 2024-2025"
tags: ['index']
---

{% set promo = "2024-2025" %}

<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Par auteurs
    </div>

    {% from 'macros/student-list.njk' import studentList %}
    {{ studentList(collections.index, "POK", promo) }}
</div>

{% for temps in[1, 2, 3] %}
    <div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
        <div class="text-3xl mb-3">
        Temps {{ temps }}
        </div>

        {# TODO: BETA DISCLAIMER  #}
        <span class="absolute top-0 right-0 m-2 italic">Interface en version beta :
            <a class="rounded-full bg-yellow-200 p-2" target="_blank" href="https://forms.gle/WB6ozLmFAXgxki7EA">Vos remarques</a>
        </span>

        {% from 'macros/pok-mon-list.njk' import listPokMon %}
        {{ listPokMon(collections.POK, "POK", promo, temps) }}
    </div>
{% endfor %}