---
layout: layout/post.njk

title: "POK"
tags: ['index']

order: 3
resume: 'Proof of Knowledge. Apprentissage en autonomie tutorée.'
---

<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Par Promo
    </div>
    <ul>
        {# <li>
            <a href="./2023-2024">2023-2024</a>
        </li> #}

        <li>
            <a href="./2022-2023">2022-2023</a>
        </li>
    </ul>
</div>

<div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
    <div class="text-3xl mb-3">
        Par auteurs
    </div>
    <ul>
        {% set types = ['POK'] %}

        {% for cours in collections.index | sort | reverse %}
            {% set c = 0 %}
            {% for tag in cours.data.tags %}
                {% for type in types %}
                    {% if tag == type %}
                        {% set c = c + 1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if c == types.length %}
                <li class="relative">
                    <a href="{{ cours.url  }}">{{cours.data.authors}}
                    </a>

                    {% if cours.inputPath | getValueFromPath('/', 2) == 'promo' %}
                        {% set year = cours.inputPath | getValueFromPath('/', 3) %}
                        {% if year !== 'index.njk' and year !== 'index.md' %}
                            <div class="absolute top-0 right-0">
                                <span class="bg-purple-200 rounded-full px-3 py-1 mt-2 mr-2" data-pagefind-filter="Année">
                                    {{ year }}
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}
                </li>

            {% endif %}
        {% endfor %}
    </ul>
</div>