
{% macro studentList(index, type, promo=null) %}
    <ul class="flex flex-wrap not-prose list-none text-sm my-1 mx-0 px-1 gap-1 md:gap-2 lg:gap-3">
        {% set types = [] %}
        {% if promo %}
            {% set types = (types.push(promo), types) %}
        {% endif %}
        {% set types = (types.push(type), types) %}

        {% for student in index | sort(attribute='data.authors') %}
            {% set c = 0 %}
            {% for tag in student.data.tags %}
                {% for type in types %}
                    {% if tag == type %}
                        {% set c = c + 1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if c == types.length or type == "promo" %}
                {# Dans les pages pok et mon (type= "POK" ou "MON") : on renseigne student.data.authors #}
                {# Dans les pages ./src/promos/* (type="promo") : on renseigne student.title #}
                <li class="relative group rounded-full border-blue-200 border-2 flex items-center hover:cursor-pointer">
                    <a href="{{ student.url }}" class="inline-block w-full underline decoration-2 decoration-blue-500 p-2 md:px-4 group-hover:decoration-blue-700 group-hover:text-blue-700">
                        <svg class="inline-block fill-blue-700 h-3 md:h-4 mr-1 md:mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
                        </svg>{{ student.data.authors or student.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
