* {
    margin: 0;
  }

body{
    background-color: #031c0e;
    font-family: 'Barlow', sans-serif;
}

em {
    color: #d9746c;
    font-style: normal;
  }

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.2;
}

h1 {
    font-size: 3em;
    font-family: 'Barlow', sans-serif;
  }

h1,
h2 {
  text-align: center;
  margin-bottom: 30px;
  color: wheat;
  }

table{
  color: white;
  border-collapse: collapse;
}

th, td{
  padding: 20px;
  text-align: center;
}

th{
  padding: 20px;
}

a {
    color: #242424;
    text-decoration: none;
  }

nav, 
footer{
    background: linear-gradient(to left, #0da352, #0b5b2c);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

nav a{
    margin-left: 30px;
    font-size: larger;
}

header{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: underline;
  }

.footer-contenu{
  padding-top: 10px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
}

footer p, footer li{
  margin-bottom: 0px;
}

.develop {
  display: inline-block;
  position: relative;
}

.sous-menu {
  position: absolute;
  width: 40%;
  align-items: center;
  background-color: wheat;
  padding-top: 10px;
  padding-bottom: 10px;

  display: none;
}

.sous-menu a {
  display: block;
  text-decoration: none;
  color: black;
  margin: auto;

  padding: 5px;
  text-align: center;
}

.sous-menu a:hover{
  text-decoration: underline;
}

.develop:hover .sous-menu {
  display: block;
}



