---
layout: layout/post.njk
title: "Cours Théoriques (CT)"
tags: ['index']

eleventyNavigation:
  key: "Cours Théoriques (CT)"
  parent: home
  order: 1
---

<p>
<!-- début résumé -->

Rassemble les documents pédagogiques et les notes des diférents Cours Théoriques de l'option do-it. 

<!-- fin résumé -->
</p>
