---
layout: layout/rubrique.njk

title: "2022-2023"
annee: "2022"
tags: ['promo']

resume: 'Promotion 2022-2023'

eleventyNavigation:
    order: 1
---

<article>
    <div class="my-3 px-2 p-1 border-solid border-2 rounded relative">
        <div class="text-3xl mb-3">
            Élèves de la promotion
        </div>

        {% from 'macros/student-list.njk' import studentList %}
        {{ studentList(collections.all | eleventyNavigation(eleventyNavigation.key) | reverse, type="promo") }}
    </div>
</article>