---
layout: layout/post.njk

title: "Promotions"
tags: ['index']

order: 5
resume: 'Liste des promotions de Do-It'
---

{% for promo in collections.promo | reverse %}
    
    <div class="my-3 px-2 p-1 border-solid border-2 rounded">
        <div class="text-3xl mb-3">
            <a href="{{ promo.url | url }}">{{ promo.data.title }}</a>
        </div>
    </div>

{% endfor %}