---
layout: layout/base.njk

eleventyComputed:
  eleventyNavigation:
    résumé: "{{ résumé }}"
---

<article class="relative">
<h1  {% if tags or authors %}class="mb-1"{% endif %}>{{ title }}</h1>
<div {% if tags or authors %}class="mb-4"{% endif %}>
    {% if tags %}
        <div class="px-4 flex flex-wrap items-center">
            {% if tags | length > 1 %}
                <div class="font-bold">Tags : </div>
            {% else %}
                <div class="font-bold">Tag : </div>
            {% endif %}
            <ul class="flex flex-wrap overflow-auto not-prose list-none my-1 mx-0 px-1 gap-1" data-pagefind-meta="Tags">
                {% for tag in tags %}
                    <li class="bg-yellow-200 rounded-full px-2" data-pagefind-filter="Tags">{{ tag }}</li>
                {% endfor %}

            </ul>
            
            {# Gestion des tags #}
            <div class="hidden" data-pagefind-meta="Type">
                {% for tag in tags %}
                    {% if tag == "mon" %}
                        <span data-pagefind-filter="Type">MON</span>
                    {% elseif tag == "pok" %}
                        <span data-pagefind-filter="Type">POK</span>
                    {% elseif tag == 'cs' %}
                        <span data-pagefind-filter="Type">CS</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if authors %}
        <div class="px-4 flex flex-wrap items-center">
            <div class="font-bold">Auteurs : </div>
            <ul class="flex flex-wrap not-prose list-none my-1 mx-0 px-1 gap-1" data-pagefind-meta="Auteurs">
                {% for author in authors %}
                    <li class="bg-blue-200 rounded-full px-2" data-pagefind-filter="Auteurs">{{ author }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if page.inputPath | getValueFromPath('/', 2) == 'promo' %}
        {% set year = page.inputPath | getValueFromPath('/', 3) %}
        {% if year !== 'index.njk' and year !== 'index.md' %}
            <div class="absolute top-0 right-0">
                <span class="bg-purple-200 rounded-full px-3 py-1 mt-2 mr-2" data-pagefind-filter="Année">
                    {{ year }}
                </span>
            </div>
        {% endif %}
    {% endif%}
</div>
{% if résumé %}
        <p class="mb-4 text-lg">

                {{ résumé | safe }}

        </p>
{% endif %}

{% if navigation and eleventyNavigation and eleventyNavigation.key %}
    {% chemin %}
    {%- for page in collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true, allowMissing: false  }) -%}

        {%- if loop.index > 2 -%}
            <span class="px-1">/</span>
        {%- endif -%}

        {%- if loop.index > 1 -%}
            <a href="{{ page.url  }}">{{page.title}}</a>
        {%- endif -%}
    {%- endfor -%}
    {% endchemin %}
{% else %}
    {% chemin %}
        <span class="px-1">
            <i>Navigation disponible uniquement en production</i>
            <a class="relative group cursor-help" target="_blank" href="https://www.11ty.dev/docs/environment-vars/">
                <svg class="inline-block h-[1.2em] w-[1em] pb-[3px]" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 32 32"><path d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 15 10 L 15 12 L 17 12 L 17 10 Z M 15 14 L 15 22 L 17 22 L 17 14 Z"></path></svg>
                <span id="i-tooltip" class="absolute left-0 bottom-full mb-2 w-max bg-purple-500 text-white text-sm rounded p-1 hidden group-hover:block transition-opacity duration-200">
                    En local, définir la variable d'environnement `NAV=true` <i>(cliquer pour ouvir la doc)</i>
                </span>
            </a>
        </span>
        <script>
            let tooltip = document.getElementById('i-tooltip');
            tooltip.preventDefault();
        </script>
    {% endchemin %}
{% endif %}

{{ content | safe }}

</article>
