---
layout: layout/base.njk

eleventyComputed:
  eleventyNavigation:
    résumé: "{{ résumé }}"
---

<article class="relative">
<h1  {% if tags or authors %}class="mb-1"{% endif %}>{{ title }}</h1>
<div {% if tags or authors %}class="mb-4"{% endif %}>
    {% if tags %}
        <div class=" px-4 flex items-center">
            {% if tags | length > 1 %}
                <div class="font-bold">Tags : </div>
            {% else %}
                <div class="font-bold">Tag : </div>
            {% endif %}
            <ul class="flex not-prose list-none my-1 mx-0 px-1 gap-1" data-pagefind-meta="Tags">
                {% for tag in tags %}
                    <li class="bg-yellow-200 rounded-full px-2" data-pagefind-filter="Tags">{{ tag }}</li>
                {% endfor %}

            </ul>
            
            {# Gestion des tags #}
            <div class="hidden" data-pagefind-meta="Type">
                {% for tag in tags %}
                    {% if tag == "mon" %}
                        <span data-pagefind-filter="Type">MON</span>
                    {% elseif tag == "pok" %}
                        <span data-pagefind-filter="Type">POK</span>
                    {% elseif tag == 'cs' %}
                        <span data-pagefind-filter="Type">CS</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if authors %}
        <div class=" px-4 flex items-center">
            <div class="font-bold">Auteurs : </div>
            <ul class="flex not-prose list-none my-1 mx-0 px-1 gap-1" data-pagefind-meta="Auteurs">
                {% for author in authors %}
                    <li class="bg-blue-200 rounded-full px-2" data-pagefind-filter="Auteurs">{{ author }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if page.inputPath | getValueFromPath('/', 2) == 'promo' %}
        {% set year = page.inputPath | getValueFromPath('/', 3) %}
        {% if year !== 'index.njk' and year !== 'index.md' %}
            <div class="absolute top-0 right-0">
                <span class="bg-purple-200 rounded-full px-3 py-1 mt-2 mr-2" data-pagefind-filter="Année">
                    {{ year }}
                <span>
            </div>
        {% endif %}
    {% endif%}
</div>
{% if résumé %}
        <p class="mb-4 text-lg">

                {{ résumé | safe }}

        </p>
{% endif %}

{% if eleventyNavigation and eleventyNavigation.key %}
    {% chemin %}
    {%- for page in collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true, allowMissing: false  }) -%}

        {%- if loop.index > 2 -%}
            <span class="px-1">/</span>
        {%- endif -%}

        {%- if loop.index > 1 -%}
            <a href="{{ page.url  }}">{{page.title}}</a>
        {%- endif -%}
    {%- endfor -%}
    {% endchemin %}
{% endif %}

{{ content | safe }}

</article>
