<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Page de Connexion</title>
</head>
<body>

    <div class="login-container">
        <h2>Connexion</h2>
        <form action="#" method="post">
            <label for="number">number :</label>
            <input type="text" id="number" name="number" required>
            <button type="submit">Se connecter</button>
        </form>
    </div>

</body>
</html>
