---
layout: layout/post.njk

title: "Contribuer au site"
authors:
  - François Brucker

tags: ['ct']
---

<p>
<!-- début résumé -->

Comment contribuer au site do-it.

<!-- fin résumé -->
</p>

Un post do-it est un dossier à mettre dans le code source du site. Par exemple, 