---
layout: layout/base.njk
title: do-it
---
<h1 class="text-5xl py-2">{{ title }}</h1>

{% for post in collections.post %}
  <article>
    <h1>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h1>
  </article>
{% endfor %}
